.git/
.github/
coverage/
log/
node_modules/
spec/
tmp/
vendor/bundle/
.dockerignore
.editorconfig
.envrc
.eslintignore
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
.rubocop.yml
.ruby-version
.stylelintrc.json
docker-compose.yml
Dockerfile
heroku.yml
Procfile*
