<div class="columns is-centered">
  <%= render 'account_nav' %>
  <div class="column is-two-fifths">
    <section>
      <h2 class="is-size-4"><%= t '.applications.title' %></h2>
      <hr>

      <p>Coming soon!</p>
    </section>
  </div>
</div>
