<% if user_signed_in? %>
<% else %>
  <main class="hero is-light is-fullheight">
    <header class="hero-head">
      <nav class="navbar has-background-dark">
        <div class="container">
          <div class="navbar-brand">
            <h1 class="navbar-item is-size-3 has-text-white">brvs</h1>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <% unless ENV['REGISTRATION_DISABLED'] %><span class="navbar-item"><%= link_to t(:register, scope: 'application.nav'), new_user_registration_path, class: 'button' %></span><% end %>
              <span class="navbar-item"><%= link_to t(:login, scope: 'application.nav'), new_user_session_path, class: 'button' %></span>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="hero-body">
    </section>
    <footer class="hero-foot">
      <%= render 'footer' %>
    </footer>
  </main>
<% end %>
