<% content_for :main do %>
  <main class="hero is-light is-fullheight">
    <header class="hero-head">
      <%= render 'navbar' %>
    </header>
    <section class="hero-body">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <footer class="hero-foot">
      <%= render 'footer' %>
    </footer>
  </main>
<% end %>
<%= render template: 'layouts/application' %>
